/* header{
    background-color: #1b1b1b;
    color: white;
    padding: 20px 0;
}

header .container{
    display: flex;
    justify-content: space-between;
}

nav span{
    cursor: pointer;
} */

/* header img{
    width: 100px;
} */

header{
	border: black;
	border-width: 2px;
	box-shadow: 0px 3px 20px 3px rgba(0, 0, 0, 0.06);
    font-weight: bold;
}
.head_container{
	padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
	height: 60px;
}
.menu{
	margin-top:5px;
	float:right;
}
.menu ul{
	list-style-type: none;
	    margin-right: -10px;
}
.menu li{
	display: inline;
}
 .menu a{
	text-decoration: none;
	font-weight: 500;
	color: #cd0000;
    padding:10px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;

}
.menu a.active {
    background:#cd0000;
    transition: 0.2s;
    color: white;
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
}
.burg{
	display: none;
}

menu.responsive{
	position: relative;
}
menu.responsive{
	float: none;
    display: block;
    text-align: left;
}

.cart {
    display: flex;
    position: relative;
    font-size: 30px;
}

.cart.active i{
    color: white;
}

.cart div{
    position: absolute;
    background-color: #cd0000;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    bottom: 5px;
    left:10px
}

@media screen and (max-width: 835px) {
	.logo img {
	    height: 60px;
	}
	.menu{
		margin:0;
	}
}


@media screen and (max-width: 690px) {

.menu li{
	display: none;
}
.burg{
    font-weight: 900 !important;
    font-size: 35px !important;
    padding: 0;
    margin: 0;
    margin-right: 25px;
    display: flex;
    cursor: pointer;
}

.x{
    width: fit-content;
    margin-left: 30px;
}

	.logo img {
	    height: 40px;
	}

}




.sidenav {
	height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 87px;
    box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.24);
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #cd0000;
    display: block;
    transition: 0.3s;
}

.sidenav li {
    list-style-type: none;
    margin-bottom: 10px;
}

.sidenav a.active{
    background:#cd0000;
    transition: 0.2s;
    color: white;
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

header .avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    object-fit: cover;
}

.appheader .search-box {
    width: 350px;
    position: relative;
    display: flex;
      left: 0;
      right: 0;
      margin: auto;
  }
  
  .appheader .search-input {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 15px 45px 15px 15px;
    background-color: #eaeaeb;
    color: #6c6c6c;
    border-radius: 6px;
    border:none;
    transition: all .4s;
  }
  
  .appheader .search-input:focus {
    border:none;
    outline:none;
    box-shadow: 0 1px 12px #b8c6db;
    -moz-box-shadow: 0 1px 12px #b8c6db;
    -webkit-box-shadow: 0 1px 12px #b8c6db;
  }
  
  .appheader .search-btn {
    background-color: transparent;
    font-size: 18px;
    padding: 6px 9px;
    margin-left:-45px;
    border:none;
    color: #6c6c6c;
    transition: all .4s;
    z-index: 1;
  }
  

  .appheader .dropdown{
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    background-color: #cd0000;
    top: 50px;
    right: -16px;
    display: none;
    z-index: 2;
    width: 120px;
    text-align: center;
}

.appheader .dropdown.active{
    display: flex;
}

.appheader .dropdown span{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
    color: #cd0000;
    cursor: pointer;
    width: 100%;
    color: white;
}

.appheader .dropdown a{
    width: 100%;
    color: white;
    text-decoration: none;
	font-weight: 500;
    padding:10px;
    padding-left: 15px;
    padding-right: 15px;
}

.appheader .dropdown a:hover,.dropdown span:hover{
    background-color: #cd0000;
}

.appheader .searchcont{
    position: absolute;
    background-color: white;
    width: 100%;
    top: 50px;
    z-index: 1;
}

.fa-cart-shopping{
    padding: 0 5px 0 5px;
    color: #cd0000;
}